# dependências
node_modules/

# build
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# Prisma Client gerado
src/generated/

# testes
coverage/
test-results/
playwright-report/

# variáveis de ambiente — NUNCA versionar
.env
.env.*
!.env.example

# uploads locais
/storage/

# misc
.DS_Store
npm-debug.log*
.vercel
